.nav {
    grid-area: n;
    background-color: #62C76AFF;
}

.item a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 3px;
}

.item a:hover {
    background: #52a759;
}

.item a.active {
    color: brown;
}