.header {
    grid-area: h;
    background-color: #62C76AFF;
}

.header img {
    height: 60px;
}

.logo {
    width: 25%;
    float: left;
}

.user {
    width: 25%;
    float: right;
    text-align: right;
}

.user span, .user a {
    display: inline-block;
    margin: 15px;
    padding: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}