.avatar {
    width: 80px;
}

.user {
    width: 100%;
    height: 150px;
}

.userLeft {
    width: 25%;
    float: left;
}

.userMain {
    width: 75%;
    float: left;
}

.selectPage {
    font-weight: bold;
}

.pagination {
    height: 50px;
    text-align: center;
    font-size: 15px;
}

.pagination span {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
}

.pagination span:hover {
    cursor: pointer;
}

.followUnfollowButton {
    margin-left: 15px;
}