.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px 0;
}

.dialogsItems {
    border-right: #8b66f4 1px solid;
}

.dialogActive {
    color: #62C76AFF;
}

.dialogs a {
    text-decoration: none;
}

.link {
    color: black;
}

.messages {
    padding: 0 5px;
}

.messages:hover {
    cursor: pointer;
}

/*
.wrapperAddMessage {
    margin: 30px 0px;
    text-align: right;
}

.textarea {
    display: inline-block;
}

.addMessageBtn {
    display: inline-block;
}*/
