.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;

    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: white;
}

img {
    max-width: 100%;
}

.sidebar {
    grid-area: n;
    background-color: #62C76AFF;
    padding: 10px;
    color: white;
    height: 550px;
}

h1, h2, h3, h4 {
    font-weight: 400;
    margin: 0;
}

.avatar {
    display: block;
    border-radius: 50%;
    background: #ffc82c;
    margin-right: 5px;
}


/* night theme */

html, body {
    background: #2b2b2c;
}

.app-wrapper-content {
    grid-area: c;
    background: #3c3f41;
}